In [30]:
import pandas as pd
data={
    "Date":["25-7-2025","26-7-2025","27-7-2025"],
    "Event":["Shopping","Marketing","Fruit saler"],
    "Cost":[2000,1500,2500]
}
df=pd.DataFrame(data)
df

        Date        Event  Cost
0  25-7-2025     Shopping  2000
1  26-7-2025    Marketing  1500
2  27-7-2025  Fruit saler  2500

## add a Two new column count and discont

In [31]:

df['Discount_price']=df.apply(lambda row:row.Cost - (row.Cost*0.1),axis=1)
df['Discount']=df.apply(lambda row:row.Cost - row.Discount_price,axis=1)
print(df)

        Date        Event  Cost  Discount_price  Discount
0  25-7-2025     Shopping  2000          1800.0     200.0
1  26-7-2025    Marketing  1500          1350.0     150.0
2  27-7-2025  Fruit saler  2500          2250.0     250.0

## Add two more data Events data objects data sets

In [34]:
df.loc[len(df.index)]=['14/2/2025','Xeox shop',18000,16000,2000]
df.loc[len(df.index)]=['15/2/2025','Kirani shop',2500,2250,250]
df

        Date        Event   Cost  Discount_price  Discount
0  25-7-2025     Shopping   2000          1800.0     200.0
1  26-7-2025    Marketing   1500          1350.0     150.0
2  27-7-2025  Fruit saler   2500          2250.0     250.0
3  14/2/2025    Xeox shop  18000         16000.0    2000.0
4  15/2/2025  Kirani shop   2500          2250.0     250.0

## Mearjing the two data set

In [26]:
import pandas as pd
data={
    "Date":["25-10-2025","26-10-2025","27-10-2025"],
    "Event":["Alim Stoe","House rent","Water Bill"],
    "Cost":[500,5000,700]
}
df=pd.DataFrame(data)
df

         Date       Event  Cost
0  25-10-2025   Alim Stoe   500
1  26-10-2025  House rent  5000
2  27-10-2025  Water Bill   700