In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = {
    "ename":['raj','ram','roim','roja'],
    "type":['reular','adoc','contrat','regular'],
    "department":['cs','ec','ec','cs'],
    "experience":[2,8,5,10],
    "salary":[10000,20000,5000,15000]
}
df=pd.DataFrame(data)
print(df)

  ename     type department  experience  salary
0   raj   reular         cs           2   10000
1   ram     adoc         ec           8   20000
2  roim  contrat         ec           5    5000
3  roja  regular         cs          10   15000

In [8]:
max=df.loc[df['experience'].idxmax()]
print(max)

ename            roja
type          regular
department         cs
experience         10
salary          15000
Name: 3, dtype: object

In [14]:
ii=df["ename",type=='reular']
print(ii)

KeyError: ('ename', False)

In [15]:
df

  ename     type department  experience  salary
0   raj   reular         cs           2   10000
1   ram     adoc         ec           8   20000
2  roim  contrat         ec           5    5000
3  roja  regular         cs          10   15000

In [22]:
r=df.groupby('ename')['type'].sum()
print(r)

ename
raj      reular
ram        adoc
roim    contrat
roja    regular
Name: type, dtype: object

In [36]:
def k(a):
    if a>5000:
        return True
l=(df['salary'])
res=list(filter(k,l))
print(res)

[10000, 20000, 15000]

In [43]:
df['age']=[13,20,50,50]
df

  ename     type department  experience  salary  age
0   raj   reular         cs           2   10000   13
1   ram     adoc         ec           8   20000   20
2  roim  contrat         ec           5    5000   50
3  roja  regular         cs          10   15000   50

In [54]:
df.drop["salary"]
df

KeyError: 'salary'