In [1]:
import pandas as pd
data={
    "Rollno":[101,102,103,104,105],
    "Name":['Riya','Arjun','Sneha','Rakesh','Aditi'],
    "Age":[17,18,17,19,18],
    "Marks_math":[88,75,90,65,95],
    "Marks_Eng":[92,85,78,70,88],
    "Gender":['F','M','F','M','F'],
}
df=pd.DataFrame(data)
print(df)

   Rollno    Name  Age  Marks_math  Marks_Eng Gender
0     101    Riya   17          88         92      F
1     102   Arjun   18          75         85      M
2     103   Sneha   17          90         78      F
3     104  Rakesh   19          65         70      M
4     105   Aditi   18          95         88      F

In [2]:
import numpy as np
a=np.array([1,2,3,4,5])
b=np.array([2,3,4,5,6])
print(a)

[1 2 3 4 5]

In [3]:
df.min()

Rollno          101
Name          Aditi
Age              17
Marks_math       65
Marks_Eng        70
Gender            F
dtype: object

In [4]:
s=(a.sum())
print(s)

15

In [5]:
aa=df['Marks_Eng'].sum()
print(aa)

413

In [6]:
aa=df['Marks_Eng'].min()
print(aa)

70

In [7]:
aa=df['Marks_Eng'].mean()
print(aa)

82.6

In [8]:
aa=df['Marks_Eng'].median()
print(aa)

85.0

In [9]:
aaa=(a.max())
print("asdfg",aaa)

asdfg 5

In [10]:
ac=df['Marks_math'].max()
print(ac)

95

In [11]:
ac=df['Marks_math'].std()
print(ac)

12.300406497347964

In [12]:
ad=(a.std())
print(ad)

1.4142135623730951

In [13]:
md=df['Rollno'].median()
md

103.0

In [14]:
import numpy as np
a1=np.array=([10,20,30])
b1=np.array=([1,2,3])
print("a array",a1)
print("B array",b1)

a array [10, 20, 30]
B array [1, 2, 3]

In [17]:
print("add:",a+b)
print("Multipliction",a * b)

add: [ 3  5  7  9 11]
Multipliction [ 2  6 12 20 30]